<mat-card>
    <mat-list>
        <div mat-subheader>Productos</div>
        <mat-list-item *ngFor="let product of products">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line><b>{{product.code}}</b> {{product.name}}</div>
        <div mat-line> {{product.price}} </div>
        </mat-list-item>
    
    </mat-list>

<button (click)="goNewProduct()">Nuevo producto</button>
</mat-card>