<mat-card>
<form class="example-form">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Codigo</mat-label>
                    <input matInput [(ngModel)]="product.code" name="txtCode">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput [(ngModel)]="product.name" name="txtName">
                </mat-form-field>
            </td>
        </tr>
    </table>

    <p>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput [(ngModel)]="product.price" name="txtPrice">
        </mat-form-field>
       
    </p>

    <button mat-raised-button color="primary" (click)="save()">Guardar</button>
    
</form>


<button (click)="goListProduct()">Listar productos</button>
</mat-card>